<mat-toolbar>CI/CD Workshop</mat-toolbar>
<mat-card>
    <mat-card-title>Prerequisite or Questioner </mat-card-title>
   <!-- <mat-progress-bar mode="determinate" value="40"></mat-progress-bar> -->
    <div class="mat-app-background basic-container">

      <mat-vertical-stepper>
        <mat-step [stepControl]="firstFormGroup" [completed]="false" >
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Account</ng-template>
            <mat-radio-group formControlName="hideRequired">
              For source code management we will use Github.Do you have GITHUB Account?
              <mat-radio-button value="true">yes</mat-radio-button>
              <mat-radio-button value="false">no</mat-radio-button>
            </mat-radio-group>
            <div [hidden]="firstFormGroup.value.hideRequired==='true' ">
              <a href="https://github.com/" target="_blank">Click to create Account</a>
            </div>
            <br/>
            <mat-radio-group formControlName="pivotalHideRequired">
              We can also deploy application to PCF. Do you have one pivotal cloud account?
              <mat-radio-button value="true">yes</mat-radio-button>
              <mat-radio-button value="false">no</mat-radio-button>
            </mat-radio-group>
              <div [hidden]="firstFormGroup.value.pivotalHideRequired==='true'" >
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      For create Pivotal account
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div >
                    <a href="https://login.run.pivotal.io/login/" target="_blank">Click to create Account</a>
                  </div>
                </mat-expansion-panel>
              </div>
            <br/>
            <mat-radio-group formControlName="vstsHideRequired">
              we need VSTS cloud environment for trying CI/CD. Do you have one VSTS account?
              <mat-radio-button value="true">yes</mat-radio-button>
              <mat-radio-button value="false">no</mat-radio-button>
            </mat-radio-group>
            <div [hidden]="firstFormGroup.value.vstsHideRequired==='true'" >
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    For create VSTS account
                  </mat-panel-title>
                  <mat-panel-description>
                    Note: we can use CTS ID
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div >
                  <a href="https://www.visualstudio.com/" target="_blank">Click to create Account</a>
                </div>
              </mat-expansion-panel>
            </div>
            <br/>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" [completed]="false" >
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Tools</ng-template>
            <mat-radio-group formControlName="dockerInstall">
              We need docker environments for jenkins play environment. Do you have local docker runtime environment ?
              <mat-radio-button value="true">yes</mat-radio-button>
              <mat-radio-button value="false">no</mat-radio-button>
            </mat-radio-group>
            <div [hidden]="secondFormGroup.value.dockerInstall==='true'" >
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    For installing docker
                  </mat-panel-title>
                  <mat-panel-description>
                    Note: For windows 7 use docker toolbox , mac & win 10 use docker for windows or mac.
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div >
                  <a href="https://docs.docker.com/toolbox/toolbox_install_windows/" target="_blank">docker install guide</a>
                </div>
              </mat-expansion-panel>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [completed]="false" >
          <ng-template matStepLabel>Done</ng-template>
          Thanks for taking questioner.
        </mat-step>
      </mat-vertical-stepper>
    </div>

</mat-card>
